@import "tailwindcss";

:root {
  /* Base theme */
  --background: #ffffff;

}

@theme inline {
  --color-background: var(--background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  
  /* Custom Palette (Light) */
  --color-black: #000000;
  --color-primary: #1EB7B1;
  --color-primary-20: rgba(30, 183, 177, 0.20);
  --color-dark-1: #323232;
  --color-dark-2: #333333;
  --color-accent: #3AC0BC;
  --color-dark-3: #3E3E3E;
  --color-dark-4: #3F3F3F;
  --color-dark-5: #5B5B5B;
  --color-dark-6: #666666;
  --color-gray-1: #BFBFBF;
  --color-gray-2: #C5C5C5;
  --color-gray-2-20: rgba(197, 197, 197, 0.20);
  --color-gray-3: #D9D9D9;
  --color-gray-4: #DCDCDC;
  --color-gray-5: #E0E0E0;
  --color-gray-6: #EDEDED;
  --color-gray-7: #EEEEEE;
  --color-gray-8: #F5F5F5;
  --color-gray-9: #F7F7F7;
  --color-white: #FFFFFF;
  --color-white-20: rgba(255, 255, 255, 0.20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
